<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ProtectiveConnectionString" connectionString="Data Source=dwooten-pc\sql2012;Initial Catalog=ProtectiveTest;Integrated Security=True;Application Name=ProtectiveTest;"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>