<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <targets async="true">

    <target name="file" xsi:type="File" fileName="${basedir}/Logs/Protective_Current.log" layout="${longdate} ${level:uppercase=true:padding=5} - ${logger:shortName=true} - ${message} ${exception:format=tostring}"
              archiveEvery="Day"
              archiveFileName="${basedir}/Logs/Log${shortdate}-{#}.log"
              archiveNumbering="Sequence"
              maxArchiveFiles="25"
              keepFileOpen="true"  />


  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="file"/>
  </rules>

</nlog>